<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Library</title>
    <style type="text/css">
        html, body {
            width: 99%;
            height: 99%;
        }
        .m-5 {
            margin: 5px;
        }
    </style>
<body>
    <h2 class="m-5">Library categories</h2>
    <div class="m-5">
        <a class="m-5" href="/books">Books</a>
        <a class="m-5" href="/authors">Authors</a>
        <a class="m-5" href="/genres">Genres</a>
    </div>
</body>
</html>